.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    font-family: "Sedan SC", serif;
}
h1 {
    text-align: center;
}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    text-align: center;
}

nav li {
    
    display: inline-block; 
    margin-right: 100px; 
    margin-left: 100px;
}

footer{
        font-size: 12px; 
        margin-top: 350px; 
}
img {
    display: block; 
    margin: auto;   
}


